* {
  margin: 0;
  padding: 0;
}

.parent-container {
  float: left;
  width: 96%;
  padding: 2%;
}

h1,
h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: rgb(13, 41, 73);
  margin-left: 4%;
  margin-top: 2%;

}

.sub-parent {
  float: left;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;

}

.child-container {
  float: left;
  margin-right: 2%;
  width: 31.33%;
}

.label-text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  border-radius: 20px;
  padding-top: 5%;
  font-size: large;
  width: 100%;
  margin-bottom: 4%;
  float: left;
}

.input-text {
  font-weight: lighter;
  color: rgb(141, 146, 150);
  font-family: 'Courier New', Courier, monospace;
  width: 98%;
  float: left;
  padding: 3%;
  box-sizing: border-box;
}

.verify {
  float: left;
  margin-top: 4%;
}

.check {
  font-size: larger;
}

.last-parent {
  float: left;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}

.last-text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: large;
  width: 100%;
  float: left;
}

textarea {
  resize: none;
  width: 100%;
}

.btn {
  padding-top: 4%;
  padding-right: 4%;
  float: right;
}

.form-component-btn {
  margin-right: 38px;
  border-radius: 10px;
  border: none;
  background-color: rgb(146, 150, 153);
  font-weight: bolder;
  color: white;
  height: 60px;
  width: 200px;
}

.submit {
  border-radius: 10px;
  border: none;
  background-color: rgb(8, 120, 53);
  font-weight: bolder;
  color: white;
  height: 60px;
  width: 200px;
}

.grid-container {
  margin: 20px;
}

.grid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.grid-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}


.grid-filter-toggle {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.grid-new-customer-btn {
  background-color: #28a745;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.grid-search-btn {
  margin-left: 40%;
  padding: 40%;
  margin-top: 4%;
  background-color: #28a745;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.grid-filter-toggle {
  background-color: #0056b3;
}

.search-button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.grid-table {
  width: 100%;
  border-collapse: collapse;
}

.grid-table th {

  color: #111010;
  padding-top: 10px;
  padding-left: 70px;
}

.grid-table th {
  text-align: left;
}

.grid-table td {
  padding-top: 10px;
  padding-left: 70px;
}

grid-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.grid-table tr:hover {
  background-color: #e2e2e2;
}

.dropdown {
  position: relative;
  display: inline-block;
}

span {
  color: red;
}